<% include header %>

<h1><%= title %></h1>
<h2><%= name %> <a href = "/<%= username %>"> @<%= username %> </a></h2>
<p><a href="follower">Follower: <%= followerN %> </a></p>
<p><a href="following">Following: <%= followingN %> </a> </p>


<h3><%= name %>'s Tweets</h3>
<%- tweets %>


<% include footer %>